<br>
<br>

<h1><%= @user.username %> PROFILE</h1>

<%= link_to "My listing", listings_path %>
<button> My bookings </button>


<!--
<script>
	var url = '<%= user_url(@user) %>'
  if(window.opener) {
   
    window.close()

    window.opener.location= url;
  }
</script>