<h1><%= @user.username %> PROFILE</h1>

<button> My listing </button>
<button> My bookings </button>


<!--
<script>
	var url = '<%= user_url(@user) %>'
  if(window.opener) {
   
    window.close()

    window.opener.location= url;
  }
</script>