
<p class="navbar-text navbar-centre welcome-message">Welcome <strong><%= current_user.username %></strong>!</p>

  <%= link_to "Sign out", signout_path, id: "sign_out" %>

<h1> Homepagewith Listings </h1>