
<h1>Hi <%= @customer.username %>,</h1>

<p>
GREAT STUFF!! 

Your Skyroom Property has been confirmed: <br/>
Property: <%= @listing.listing_name %><br/>
Checkin Date: <%= @booking.checkin %><br/>
Checkout Date: <%= @booking.checkout %><br/>

Thanks and have a great day!!
============================
</p>